@using Toci.Mvcexample.Models.NewCoursesSearch.CourseDisplay
@model Toci.Mvcexample.Models.EntireAppModel

@*Should be display as a partial View! -> Need to fix controller*@

@section Styles {
    <link href="@Url.Content("~/Content/coursesSearch/dropList.css")" rel="stylesheet" type="text/css" />
}



<section id="sec-formsearch" class="section form-search parallax" style="background-position: 50% 40px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-box text-center">
                    <h2 class="text-white">Courses Search</h2>
                    <p class="sub-title">Fill keywords to seek for courses</p>
                </div><!-- /.titile-box -->
                <!--<form id="courses-search-form" class="" method="post" action="#"> -->
                @using (Html.BeginForm("CoursesSearch", "CoursesSearch", FormMethod.Post, new { id="courses-search-form", role = "form", app = Model, @class = "courses-serch-form" }))
                {
                    <div class="wrap-input clearfix">
                        <div class="wrap-select">
                            @Html.DropDownListFor(m => m.CoursesSearch.Topic.Value, @Model.CoursesSearch.Topic.Items, "- Topic -",
                                new { @class = "dropdownList" })
                        </div><!-- /.wrap-select -->
                        <div class="wrap-select">

                            @Html.DropDownListFor(m => m.CoursesSearch.Start.Value, @Model.CoursesSearch.Start.Items, "- Start Date -",
                                new { @class = "dropdownList" })

                        </div><!-- /.wrap-select -->
                        <div class="wrap-select">

                            @Html.DropDownListFor(m => m.CoursesSearch.End.Value, @Model.CoursesSearch.End.Items, "- End Date -",
                                new { @class = "dropdownList" })

                        </div><!-- /.wrap-select -->
                        <div class="wrap-select">

                            @Html.DropDownListFor(m => m.CoursesSearch.Level.Value, @Model.CoursesSearch.Level.Items, "- Level -",
                                new { @class = "dropdownList" })

                        </div><!-- /.wrap-select -->
                        <div class="wrap-select">
                            @Html.DropDownListFor(m => m.CoursesSearch.Instructor.Value, @Model.CoursesSearch.Instructor.Items, "- Location -",
                                new { @id = "newId", @class = "dropdownList" }) @*, @AutoPostBack = "true", @OnChange = "CallChangefunc"})*@
                        </div><!-- /.wrap-select -->
                        @*<div class="input-wrap">
                                    <input type="text" value="" tabindex="1" placeholder="Keyword" name="Keyword" id="Keyword2">
                                </div>*@
                    </div>
                    <!-- /.wrap-input -->
                    <div class="submit-wrap text-center clearfix">
                        <button class="btn-besmart">Search</button>
                    </div>
                }
                <!-- /.comment-form -->
            </div><!-- /.col-md-12 -->
        
            @if (Model.CoursesSearch.Courses != null)
            {
                @Html.Partial("_CoursesDisplay", Model)
            }

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

