<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--Toci Custom Theme Phoenix-->
    @Styles.Render("~/Content/phoenix")

    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
    <!--/Toci Custom Theme Phoenix-->


</head>
    <body>
        
        @*Coś nie działają te loader'y*@

        @*<div class="loader">
        <span class="loader1 block-loader"></span>
        <span class="loader2 block-loader"></span>
        <span class="loader3 block-loader"></span>
    </div>*@

        <div class="wrap-slide clearfix">
            @Html.Partial("_TopPartial")
            @Html.Partial("_HeaderPartial")
        </div>


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <!--Toci Custom Theme Phoenix-->
        @Scripts.Render("~/bundles/phoenix")
        <!--/Toci Custom Theme Phoenix-->
        @RenderSection("scripts", required: false)
    </body>
</html>
